; [xdebug]
; xdebug.remote_enable=1
; xdebug.remote_autostart=1
; xdebug.scream=1
; xdebug.show_local_vars=1
; xdebug.default_enable=0
; xdebug.profiler_enable=0
; xdebug.remote_connect_back=0
; xdebug.remote_handler=dbgp
; xdebug.max_nesting_level=250
; xdebug.idekey=VSCODE
; xdebug.remote_host=docker.for.mac.localhost
[xdebug]
xdebug.remote_enable=1
xdebug.remote_connect_back=0
xdebug.remote_autostart=1
xdebug.remote_connect_back=0
xdebug.max_nesting_level=250
xdebug.remote_handler=dbgp
xdebug.idekey=docker
xdebug.remote_port=9000
xdebug.remote_host=docker.for.mac.localhost
