
/* Styles to fix dark(superhero) theme appearance */
footer {
  background-color: #4e5d6c !important;
  border-color: #4e5d6c !important;
  color: #EEF0F1 !important;
}
tbody#alldata > tr > td {
  padding-top: 16px !important;
}
tbody#alldata > tr > td:first-child {
  padding-top: 6px !important;
}
code {
  background-color: #EEF0F1;
}
table > thead > tr > th,
.table > thead > tr > th, table > tbody > tr > th,
.table > tbody > tr > th, table > tfoot > tr > th,
.table > tfoot > tr > th, table > thead > tr > td,
.table > thead > tr > td, table > tbody > tr > td,
.table > tbody > tr > td, table > tfoot > tr > td,
.table > tfoot > tr > td {
  border: 1px solid rgba(0,0,0,.125) !important;
}
